body {
    padding:25px;
    background: radial-gradient(circle at 0.4% -0.6%, rgb(143, 170, 210) 0%, rgb(255, 177, 177) 90%);    font-family: kanit;
    margin-top: 50px; /* Add a top margin to avoid content overlay */
    color: #2C363F;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.card {
    background-color: #F3F3F2;
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
}

.card::after {
    content: "";
    display: table;
    clear: both; /* Ensures floated children are contained */
}

/* Header */
.header {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex; /* Use flexbox for alignment */
    /* justify-content: space-between; Space between "Amie" and the links */
    align-items: center; /* Vertically align items */
    position: fixed; /* Fixed at the top */
    top: 0;
    width: 100%;
    padding: 0 20px;
}

/* Brand */
.brand {
    font-family: 'Kanit', sans-serif; /* Ensure font is consistent */
    font-size: 30px; /* Adjust font size */
    color: #2C363F;
    margin: 0; /* Remove default margins */
}

/* Navbar Links */
.navbar a {
    float: right;
    text-decoration: underline;
    color: #2C363F;
    padding: 20px 16px;
}

.navbar a:hover {
    color: #E75A7C;
}

/* Landing Page - Ensure cards do not flex */
#landing{
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow wrapping if needed */
    gap: 10px; /* Add spacing between elements */
    justify-content: space-between; /* Align elements evenly */
    align-items: center; /* Vertically center the items */
    background-color: #F3F3F2;
    border-radius: 15px;
    padding: 15px;
}

.aboutSquare {
    flex: 1;
    color: white;
    border-radius: 15px;
    padding: 10px;
    background-color: #E75A7C;
    float: right;
    text-decoration: bold;
}

/* .uniMiniCard {
    flex: 1;
    color: white;
    border-radius: 15px;
    padding: 10px;
    background-color: #383943;
    float: right;
    text-decoration: bold;
} */

.projectMiniCard {
    flex: 1;
    color: white;
    border-radius: 15px;
    padding: 10px;
    background-color: #EDA8B3;
    text-decoration: bold;
    float: right;
}